@use "sass:color"
@use '/src/styles/_variables.sass' as *
@use 'bootstrap/scss/bootstrap-grid.scss' as bootstrap

fieldset
	border: none
	margin-bottom: 20px

label
	display: block
	margin-bottom: 4px
	font-weight: 600

input,
textarea
	font-family: $font-family-sans-serif
	padding: 13px 18px
	font-weight: 600
	font-size: 1rem
	border-radius: 6px
	border: 1px solid $dark
	background-color: $indigo
	color: $green
	resize: none
	&:focus
		outline: 1px solid $purple

@mixin color($color, $theme: dark)
	@extend .button
	background-color: $color
	color: $dark, !important
	&:hover,
	&:focus,
	&:active
		background-color: $green
		color: $dark

button,
.button
	// font
	font-family: $font-family-sans-serif
	font-size: 1rem
	font-weight: 500
	border: 0

	// layout
	display: inline-flex
	align-items: center
	justify-content: center

	// spacing
	width: fit-content
	cursor: pointer
	white-space: nowrap
	padding: 11px 20px 8px
	margin: 0 4px

	// looks
	border: 1px solid $dark
	border-radius: 30px !important
	color: $dark !important

	&:hover,
	&:focus,
	&:active
		background-color: $green
		color: $dark !important
	&:disabled
		background-color: color.adjust($offwhite, $lightness: -20%)
		border: 1px solid color.adjust($offwhite, $lightness: -20%)

	&-primary
		@include color($lemon)
	&-secondary
		@include color(color.adjust($indigo, $lightness: 20%))