@use "sass:color"
@use '/src/styles/_variables.sass' as *
@use 'bootstrap/scss/bootstrap-grid.scss' as bootstrap

fieldset
	border: none
	margin-bottom: 20px

label
	display: block
	margin-bottom: 4px
	font-weight: 600

input,
textarea
	// layout
	width: 100%
	padding: 20px 30px
	border-radius: 6px
	resize: none
	
	// colours
	background-color: $white
	border: 2px solid $indigo
	color: $indigo

	// fonts
	font-family: $font-family-sans-serif
	font-weight: 600
	font-size: 1rem
	line-height: 1.4rem
	&:focus
		border-color: $purple
		outline: none
	&:is(textarea)
		height: 350px
	&::placeholder
		color: color.adjust($indigo, $alpha: -0.6)
		font-style: italic

@mixin color($color, $theme: dark)
	@extend .button
	background-color: $color
	color: $dark, !important
	&:hover,
	&:focus,
	&:active
		background-color: $green
		color: $dark

button,
.button
	// font
	font-family: $font-family-sans-serif
	font-size: 1rem
	font-weight: 500
	border: 0

	// layout
	display: inline-flex
	align-items: center
	justify-content: center

	// spacing
	width: fit-content
	cursor: pointer
	white-space: nowrap
	padding: 11px 20px 8px
	margin: 0 4px

	// looks
	border: 1px solid $dark
	border-radius: 30px !important
	color: $dark !important

	&:hover,
	&:focus,
	&:active
		background-color: $green
		color: $dark !important
	&:disabled
		background-color: color.adjust($offwhite, $lightness: -20%)
		border: 1px solid color.adjust($offwhite, $lightness: -20%)

	&-primary
		@include color($lemon)
	&-secondary
		@include color(color.adjust($indigo, $lightness: 20%))